- name: Install apache
  yum:
    name: httpd
    state: present

- name: Start apache
  service:
    name: httpd
    state: started
    enabled: yes

- name: Deploy apache page
  template:
    src: index.html.j2
    dest: /var/www/html/index.html
